{{ partial "header" . }}
        

<main>
    <div class="row">
        <div class="col-6">
            <div class="intro ">
                {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
                <div style="font-size: 5em;">m<strong style="color: red">aznan</strong>fb</div>
                <img src="line.gif" max-width="70%">
        
                <h2>{{ markdownify .Site.Params.Description }}</h2>
            </div>
        </div>
    </div>
</main>

{{ partial "footer" . }}
